**/.DS_Store
/.venv
/AnsweringAgent/outputs/logs/test_indices.pt
/AnsweringAgent/outputs/checkpoints
**/.idea
**/__pycache__
documents/
/AnsweringAgent/src/data/processed_data
/AnsweringAgent/outputs/logs
/Mirror/
/thesis_materials/
*.log
training.log
AnsweringAgent/src/data/Archive/
.DS_Store
